@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Light.ttf);
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Poppins', sans-serif;
}
html {
    background-color: #fff;
}
.logo {
    width: 150px;
    height: 65px;
    margin: 13px 0;
    margin-left: 16px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.top {
    background-color: #fff;
}
.top .navbar-brand {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: #CCC;
    color: #474747;
    text-decoration: none;
}
.top .container {
    padding: 0;
    background-color: #000;
}
.banner {
    background-color: #373737;
}
.banner .container {
    background-color: #009b9b;
    min-height: 200px;
    padding: 40px 30px 30px 40px;
}
.banner .container p {
    font-size: 22px;
    padding-left: 5px;
    font-weight: 300;
}
.middle {
    background-color: #fff;
}
.middle .container {
    background-color: #FFF;
    min-height: 300px;
    padding: 20px 0;
}
.user-avatar {
    /*width: 200px;*/
    /*height: 200px;*/
}
.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    letter-spacing: -2px;
    color: #4a4a4a;
    margin-top: -8px;
}
.user-speciality {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: -2px;
    color: #a5a5a5;
    margin-top: -8px;
}
 button.follow {
     height: 30px;
     border-radius: 3px;
 }
button.follow span{
    top: -8px;
    font-size: 14px;
}
button.follow span b{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.head-right-column {
    float: right;
    width: 330px;
    position: relative;
    top: -43px;
    margin-bottom: -50px;
    margin-right: 20px;

}
.small-avatar {
    width: 23px;
    height: 23px;
    float: left;
    margin-top: 5px;
    margin-left: -5px;
}
.account-name b{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: super;

}
.account-name span{
    color: #fff;
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
    }
.small-avatar img{
    width: 100%;
    height: 100%;
}
.head-search-field{
    width: 200px;
    float: right;
}
.user-info {
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.user-info span{
    color: #c7c7c7;
    font-size: 15px;
    float: left;
    margin-top: 6px;
    margin-right: 7px;
}
.user-info p{
    white-space: nowrap;
    font-size: 13px !important;
    margin-bottom: 0;
    font-weight: bold;

}

.user-account-type p{
    color: #fff;
    background: #1c81d0;
    border-radius: 4px;
    font-weight: bold;
    height: 24px;
    width: 45px;
    margin-left: 22px;
    text-align: center;
}
.user-account-type {
    
}
.user-marker-map p{
    font-size: 16px !important;
    letter-spacing: 0;
}
.user-email p{
    color: dodgerblue;
}
.user-link p{
    color: dodgerblue;
}
.user-joined {
    
}
.user-account-type span, 
.user-marker-map span,
.user-email span,
.user-link span,
.user-joined span{
}
.user-followers {
    padding: 10px 0 67px 0;
    border-bottom: 1px solid #dedede;
    text-align: center;
}
.user-followers span{
    font-size: 26px;
    color: #000;
    font-weight: bold;
}
.user-followers p{
    font-size: 11px !important;
    color: #8e8e8e;
    font-weight: bold;
    margin-top: -12px;
}

.content {
    max-width: 250px;
    margin-left: -10px;
}

.navbar-nav li a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    letter-spacing: -2px;
    /* font-stretch: condensed; */
    margin-top: 40px;
}
.nav>li>a:focus {
    text-decoration: none;
    background-color: #373737;
}
.navbar-nav li a:hover {
    background-color: #373737;
}
.bottom {
    background-color: #474747;
}
.bottom .container {
    background-color: #373737;
    min-height: 150px;
}
.bottom .container h3 {
    color: #999;
}
.bottom .container p {
    color: #666;
}
.navbar-toggle {
    color: #009b9b;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-toggle:hover {
    background-color: #373737;
}
.navbar-nav {
    margin: 0;
}

span.tab-title{
    font-size: 20px;
    color: #a2a2a2;
    font-weight: bold;
}
.tab-search-field{
    margin: 10px -14px;
}
.tab-pils-block {
    margin: 10px 0;
    float: right;
}
.tab-pils-block.nav>li>a:focus{
    background-color: transparent;
}
.tab-pils-block.nav>li>a:hover{
    background-color: transparent;
}
.nav-pills.tab-pils-block>li.active>a {
    background-color: transparent;
    color: #000;
}
.nav-pills.tab-pils-block>li>a {
    font-size: 16px;
    font-weight: bold;
    margin: 0 -10px;
}
.nav-pills.tab-pils-block>li>a.vote {
    font-size: 26px;
    font-weight: bold;
    color: #a5a5a5;
    margin-top: -10px;
}
.badge-tab {
    margin: -4px 0 0 13px;
    background-color: lightgrey;
}
.content p {
    line-height: 30px;
    font-size: 16px;
}
.frame-container iframe{

}
.frame-container .frame-right-column{
    float: right;
    margin-top: 75px;
}
.frame-right-column span{
    font-size: 36px;
    color: #000;
    margin: -20px 0;
}
.frame-right-column p{
    position: relative;
    right: -40px;
    top: -34px;
    font-size: 23px;
    color: grey;
    font-weight: bold;
}
