<template>
    <div>
        <div class="select-filter"> Today</div>
        <div class="select-filter"> Week</div>
        <div class="select-filter active"> Month</div>
        <div class="select-filter"> All</div>
    </div>
    <div>
        <div class="select-filter">
            All
        </div>
        <div v-for="genre in mutableGenres" class="select-filter">
            {{genre}}
        </div>
        </div>
</template>

<script>
  export default {
    props: {
      genres : {type: Array, default: function () { return [] }},
    },
    data: function () {
      return {
        mutableGenres: this.genres,
        selectGenre: '',
        selectDate: 'today'
      }
    },
    mounted() {
        console.log(this.mutableGenres)
    },
    methods: {
      make: function(value) {

        const self = this;

        $.ajax({
          url: `/phone/${this.number}/like`,
          data: {
            genre: self.data.selectGenre,
            created_at: self.data.selectDate,
          },
          type: 'post',
          dataType: 'json',
          async: true,
          success: function(data) {
            self.mutablePositive = data.response.like.positive;
            self.mutableNegative = data.response.like.negative;

            $('#myModal').modal('hide')
          },
          error: function(err) {
            console.log(err);

            $('#myModal').modal('hide')
          }
        });
      }
    },
    watch() {

    },
    destroyed () {

    }
  }
</script>
