$active-color: darkviolet;
$dark-active-color: #7f00b9;

$background-body: #f5f8fa;

$font-oswald: 'Oswald', sans-serif;

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #fff;
}

.logo {
  width: 150px;
  height: 65px;
  margin: 13px 0;
  margin-left: 16px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo {
  background-image: url(/img/logo-b.png);
  background-size: cover;
  background-position: center;
}

.bg-black {
  background-color: #000;
}

.banner {
  background-color: #373737;
}

.banner .container {
  background-color: #009b9b;
  min-height: 200px;
  padding: 40px 30px 30px 40px;
}

.banner .container p {
  font-size: 22px;
  padding-left: 5px;
  font-weight: 300;
}

.middle {
  background-color: #fff;
}

.middle .container {
  background-color: #FFF;
  min-height: 300px;
  padding: 20px 0;
}

.user-avatar img {
  width: 100%;
  margin-bottom:10px;
}

.user-name {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  letter-spacing: -2px;
  color: #4a4a4a;
  margin-top: -8px;
}

.user-speciality {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  color: #a5a5a5;
  margin-top: -8px;
}

.follow span {
  font-weight: bold;
}

button.follow {
  height: 30px;
  border-radius: 3px;
}

button.follow span {
  top: -8px;
  font-size: 14px;
}

.head-right-column {
  float: right;
  width: 330px;
  position: relative;
  top: -43px;
  margin-bottom: -50px;
  margin-right: 20px;

}

.small-avatar {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 15px;
}

.account-name b {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  vertical-align: super;

}

.account-name span {
  color: #fff;
  margin-top: 7px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
}

.small-avatar img {
  width: 100%;
  height: 100%;
}

.head-search-field {
  width: 200px;
  float: right;
}

.user-info {
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.user-info span {
  color: #c7c7c7;
  font-size: 15px;
  float: left;
  margin-top: 6px;
  margin-right: 7px;
}

.user-info p {
  white-space: nowrap;
  font-size: 13px !important;
  margin-bottom: 0;
  font-weight: bold;

}

.user-account-type div {
  color: #fff;
  background: $active-color;
  font-weight: bold;
  height: 24px;
  width: 65px;
  padding: 0 10px;
  margin-left: 22px;
  text-align: center;
}

.user-account-type {

}

.user-marker-map div {
  font-size: 16px !important;
  letter-spacing: 0;
}

.user-email div {
  color: $active-color;
  width: 80%;
  display: block;
  overflow: hidden;
}

.user-link a {
  color: $active-color;
  width: 80%;
  display: block;
  overflow: hidden;
}

.user-joined {

}

.user-account-type div,
.user-marker-map div,
.user-email div,
.user-link div,
.user-joined div {
}

.user-followers {
  padding: 10px 0 67px 0;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.user-followers span {
  font-size: 26px;
  color: #000;
  font-weight: bold;
}

.user-followers p {
  font-size: 11px !important;
  color: #8e8e8e;
  font-weight: bold;
  margin-top: -12px;
}

.content {
  max-width: 250px;
  margin-left: -10px;
}

.bottom {
  background-color: #474747;
}

.bottom .container {
  background-color: #373737;
  min-height: 150px;
}

.bottom .container h3 {
  color: #999;
}

.bottom .container p {
  color: #666;
}

span.tab-title {
  font-size: 20px;
  color: #a2a2a2;
  font-weight: bold;
}

.tab-search-field {
  margin: 10px -14px;
}

.tab-pils-block {
  margin: 10px 0;
  float: right;
}

.tab-pils-block.nav > li > a:focus {
  background-color: transparent;
}

.tab-pils-block.nav > li > a:hover {
  background-color: transparent;
}

.nav-pills.tab-pils-block > li.active > a {
  background-color: transparent;
  color: #000;
}

.nav-pills.tab-pils-block > li > a {
  font-size: 16px;
  font-weight: bold;
  margin: 0 -10px;
}

.nav-pills.tab-pils-block > li > a.vote {
  font-size: 26px;
  font-weight: bold;
  color: #a5a5a5;
  margin-top: -10px;
}

.badge-tab {
  margin: -4px 0 0 13px;
  background-color: lightgrey;
}

.content p {
  line-height: 30px;
  font-size: 16px;
}

.frame-container iframe {

}

.frame-container .frame-right-column {
  float: right;
  margin-top: 75px;
}

.frame-right-column span {
  font-size: 36px;
  color: #000;
  margin: -20px 0;
}

.frame-right-column p {
  position: relative;
  right: -40px;
  top: -34px;
  font-size: 23px;
  color: grey;
  font-weight: bold;
}

.chart-index {
  align-items: center;
  display: flex;
  font-size: 24px;
  font-weight: 800;
  justify-content: center;
  padding: 10px;
}

.chart-avatar {
  margin-right: 10px;
}

.chart-votes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.chart-votes div {
  margin-left: 5px;
}

.chart-title {
  display: block;
  font-size: 20px;
  font-weight: 800;
  color: black;
}

.chart-author {
  font-size: 18px;
  font-weight: 800;
  color: $active-color;
}

.select-filter option {
  padding: 10px;
  text-transform: uppercase;
  border-top: solid 0.5px #bbbbbb;

}

.select-filter {
  padding: 0;
  border: none;
  overflow: auto;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.genre {
  height: 250px !important;
}

.filter .active {
  color: #c2004d;
  font-weight: bold;
  background-color: #dbdee0;
}

.select-filter:first-child {
  border-top: solid 4px black;
}

.select-filter .selected {
  background-color: $active-color;
  color: white;
}

.select-filter:active {
  box-shadow: none;
}

.page-chart {
  text-align: center;
}

.btn-action {
  border: none;
  box-shadow: none;
  background-color: $active-color;
  color: white;
  font-size: 16px;
  border-radius: 0;
  font-weight: bold;
}

.btn-action:hover {
  background-color: $dark-active-color;
  color: white;
}

.btn-like {
  margin-left: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: bold;
}

.btn-like i {
  margin-left: 5px;
}

.btn-like:hover {
  background-color: $active-color;
  color: white;
}

.chart {
  width: 100%;
  td {
    background-color: white;
    text-align: left;
  }
  tr {
    border-bottom: solid 5px #f5f8fa
  }
  .active {
    background-color: $active-color;
    color: white;
  }

}

.pagination li:first-child span {
  border-radius: 0;
}

.pagination li:last-child a {
  border-radius: 0;
}

.pagination li:first-child a {
  border-radius: 0;
}

.pagination li:last-child span {
  border-radius: 0;
}

.pagination .active span {
  background-color: $active-color;
  border-color: $active-color;
}

.pagination .active span:hover {
  background-color: $dark-active-color;
  border-color: $dark-active-color;
}

.pagination a {
  color: $active-color !important;
}

.title-page {
  color: $active-color;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: solid black 5px;
  font-size: 20px;
  font-weight: 800;
  font-family: $font-oswald;
}

.nav-header {
  margin-top: 41px;
  font-family: $font-oswald;
  font-size: 18px;
}

.nav-link a {
  color:#fff;
}
.nav-link .active {
  color: $active-color;
}

.user-tab a {
  color: $active-color;
  border-radius: 0!important;
}

.nav-link a:hover {
  background-color: $background-body!important;
  color: $active-color;
}
.nav-link a:active {
  background-color: $background-body!important;
  color: $active-color;
}

.border-radius-0 {
  border-radius: 0;
}

.input {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.input-form {
  border-radius: 0;
  box-shadow: none;
}

.select {
  border-radius: 0;
  box-shadow: none;
}

.btn-default {
  border-radius: 0;

}
.btn-danger {
  border-radius: 0;
  border:none;
}
.btn-danger:hover {
  border-radius: 0;
  border:none;
}

.votes {
  display: flex;
  justify-content: flex-end;
}

.votes .count-votes {
  margin-top: 17px;
  height: 30px;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100px;
  background-color: $active-color;

}

.btn-liked {
  margin-left: 10px;
  color: $active-color;
  display: inline-block;
  padding: 5px;
  font-weight: bold;

}

.activity {
  background-color: white;
  line-height: 3;
  margin: 0.3%;
}

.activity a {
  color:$active-color;
}
.upload{
  margin: 5px;
}
.button-top-voters {
  width: 111px;
  height: 52px;
  border-radius: 15px;
}

